#lightbox{ position: fixed; top: 40px; left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0; color:#151410 }
#lightbox a, #lightbox a:hover { border-bottom:none; color:#151410; text-decoration:underline }
#lightbox a img{ border: none }
#lightboxImage { display: block;}
#outerImageContainer{ position: absolute; background-color: #fff; margin: 0 auto;  }
#imageContainer{ padding: 10px }
#loading{ position: absolute; top: 40%; left: 0; height: 25%; width: 100%; text-align: center; line-height: 0 }
#loadingLink { display:block; margin:0 auto; padding:0; width:32px; height:32px; background:url("images/loading.gif") center center no-repeat; text-indent:-9999px }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10 }
#imageContainer>#hoverNav{ left: 0 }
#hoverNav a{ outline: none }
#prevLinkImg, #nextLinkImg{ width: 49%; height: 100%; background: transparent url("images/blank.gif") no-repeat; /* Trick IE into showing hover */ display: block; text-indent:-9999px }
#prevLinkImg { left: 0; float: left }
#nextLinkImg { right: 0; float: right }
#imageDataContainer{ font-size: 12px; background-color: #fff; margin: 0 auto; line-height: 1.4em }
#imageData{	padding:0 10px }
#imageDetails{ position: absolute; bottom: -25px; z-index: 1000; text-align: left; width: 80%;}
#caption { font-weight: bold }
#numberDisplay { display: block; clear: left }
#detailsNav { display: block; clear: left; padding:0 0 10px 0 }
#prevLinkDetails { margin:0 8px 0 0 }
#nextLinkDetails { margin:0 8px 0 0 }
#closeLink { display:block; position: absolute; top:-15px; right: -15px; text-indent: -9999px; width: 30px; height: 30px; background: url('./images/close.png'); z-index: 100;}
#overlay { position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #fff; filter:alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7 }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
* html>body .clearfix { display: inline-block; width: 100% }
* html .clearfix { height: 1%; /* Hide from IE-mac */ }

#outerImageContainer {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.58);
    border-radius: 7px;
    border: 1px solid #666;
    box-sizing: padding-box;
}
#prevLinkImg {
    text-align: left;
}
#nextLinkImg {
    text-align: right;
    text-indent: 9999px;
}
#prevLinkImg .navlink-arrow, #nextLinkImg .navlink-arrow {
    display: none;
    margin: 0 10px;
    text-decoration: none!important;
    background: #fff;
    padding: 5px 10px;
    font-size: 25px;
    line-height: 100%;
    margin-top: 110px;
}
#prevLinkImg:hover, #nextLinkImg:hover {
    text-indent: 0;
}
#prevLinkImg:hover .navlink-arrow, #nextLinkImg:hover .navlink-arrow {
    display: inline-block;
}
